* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #11142D;
    font-family: 'Inter', sans-serif;
}

.container {
    width: 1150px;
    margin: auto;
    max-width: 1250px;
}


.container-fluid{
    width: 100%;
    max-width: 100%;
}


.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
}

.header-wrapper {
    box-shadow: 0px 1px 5px -2px rgba(0,0,0,0.14);
}

.header .header-registration {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 45%;
    background-color: white;
    padding: 5px;
}

.header .logo-image img {
    width: 60%;
}

.header .header-registration .reg-search-box{ 
    position: relative;
    width: 50%;
}

.header .header-registration .fa-search {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(0, 113, 220);
    border-left: 1px solid rgb(223, 224, 224);
    padding: 8px 0px 8px 10px;
    cursor: pointer;
}

.header .header-registration input {
    width: 100%;
    font-size: 14px;
    outline: none;
    padding: 14px 16px;
    border-radius: 5px;
    border: none;
    background-color: #f7f8fc;
    color: #808191;
}


/* HEADER REGISTRATION LOG-IN AND SIGN-UP BUTTONS STYLE STARTS HERE */

.header .header-registration a {
    background-color: #e5f1fb;
    padding: 11px 25px;
    border-radius: 5px;
    color: rgb(0, 113, 220);
    font-weight: 600;
    transition: 0.5s;
}

.header .header-registration #log-in {
    background-color: transparent;
    color: #808191;
  
}

.header .header-registration #log-in:hover {
    color: rgb(0, 113, 220);
    transition: 0.2s;
}

.header .header-registration #sign-up:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 113, 220);
    transition: 0.5s;
}

/* HEADER REGISTRATION LOG-IN AND SIGN-UP BUTTONS STYLE ENDS HERE */




/* CATEGORY SECTION STYLE STARTS HERE */  

.category-wrapper {
    box-shadow: 0px 1px 5px -3px rgba(0,0,0,0.14);
    padding: 15px 15px;
    padding-left: 35px;
}

.category .lists{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.category .lists a {
    color: #11142D;
    font-size: 16px;
}


/* CATEGORY SECTION STYLE ENDS HERE */  



/* LANDING PAGE STARTS HERE */

.landing-wrapper{
    background-image: url(../Assets/landing_page.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px 0;
    padding-bottom: 0;
}

.landing-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.landing-page .page-content h1 {
    font-size: 45px;
    margin-bottom: 20px;
}

.landing-page .page-content h1 span {
    color: rgb(0, 113, 220);
}


.landing-page .page-content h4{
    color: #808191;
    font-size: 16px;
    font-weight: 200;
    margin-bottom: 30px;
}

.landing-page .page-content input{
    width: 70%;
    font-size: 14px;
    padding: 20px 25px;
    border: 1px solid #f2f2f2;
    outline: none;
    display: block;
    margin-bottom: 20px;
}

.landing-page .page-content button {
    border: none;
    outline: none;
    font-size: 13px;
    padding: 17px 35px;
    background-color: rgb(0, 113, 220);
    color: white;
    cursor: pointer;
}


.landing-page .page-image{
    width: 40%;
    text-align: center;
}

.landing-page .page-image img{
    width: 110%;
}


/* LANDING PAGE ENDS HERE */


/* QUICK INFO STARTS HERE  */

.quick-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    border-bottom: 1px solid rgb(222, 222, 222);
    margin-bottom: 80px;
}

.quick-info .q-info-course {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.quick-info .q-info-course .info-course-image {
    margin-right: 10px;
}
.quick-info .q-info-course .info-course-image img{
    width: 90%;
}

.quick-info .q-info-course .info-course-text h4{
    font-size: 16px;
}

.quick-info .q-info-course .info-course-text p{
    font-size: 14px;
    color: #808191;
}

/* QUICK INFO ENDS HERE  */


/* POPULAR COURSES STARTS HERE */

.popular-courses .popular-courses-heading {
    font-size: 30px;
}


.popular-courses .popular-course-filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.popular-courses .popular-course-filter .popular-course-filter-list {
    width: 55%;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.popular-courses .popular-course-filter .popular-course-filter-list button{
    font-size: 14px;
    outline: none;
    padding: 14px 30px;
    border-radius: 5px;
    border: none;
    background-color: #f7f8fc;
    color: #808191;
    cursor: pointer;
}

.popular-courses .popular-course-filter .popular-course-filter-list-change button {
    background-color: #fbfcff;
    font-size: 14px;
    padding: 10px 15px;
    outline: none;
    border: none;
    border-radius: 5px;
    border: 1px solid #e5f1fb;
    color: #808191;
    cursor: pointer;
}

.popular-courses .popular-course-filter .popular-course-filter-list .allcourses {
    border: none;
    outline: none;
    font-size: 13px;
    padding: 14px 30px;
    background-color: rgb(0, 113, 220);
    color: white;
    cursor: pointer;
}

/* POPULAR COURSES STARTS HERE */




/* RESPONSIVENESS OF THE WEB PAGE */

@media (max-width: 1190px) {
    .container {
        max-width: 900px;
        
    };
};

@media (min-width: 1250px) {
    .container {
        max-width: 1500px;
        
    };
};
